.header__lang-link_active_enabled {
    width: 30px;
    height: 28px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__lang-link {
      width: 22px;
      height: 20px;
    }
  }