.place__paragraph {
  font-size: 1.1em;
  line-height: 1.6;
  margin: 0;
}  
  
.place__paragraph:last-child {
  margin-top: 27px;
  margin-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__paragraph {
    margin: 0 16px 25px;
    font-size: 16px;
    line-height: 26.08px;
    grid-row: 4;
  }
} 