@import url(../vendor/normalize.css);
@import url(../vendor/Fonts/fonts.css);

/*img {
    border: 1px solid red;

}

div, a, p, h1, h2, section, article {
    border: 1px solid blue;
}*/

.page {
  max-width: 100vw;
  min-height: 6895px;
  background-color: #2a2c2f;
  padding: 0;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  font-size: 16px;  

}

.header {
  max-width: calc(100% - 96px);
  min-height: 52px;
  margin: 28px auto 48px;
  color: #fff;
  display: flex;

}

.header__logo {
  width: 176px;
  height: 52px;
  margin-right: auto;
}

.header__lang-link {
  font-size: 1.5em;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
  padding: 9px;    
}

.header__lang-link:hover {
  text-decoration: underline;
}

.content {
  max-width: calc(100% - 96px);
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.lead {
  min-height: 962px;
  color: #fff;
  display: flex;
  flex-direction: column;  
}

.lead__title {
  width: 78%;
  font-size: 6em;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  margin: auto;
}

.lead__subtitle {
  margin: 32px auto 56px;
  width: 69%;
  text-align: center;
  font-size: 1.9em;
  font-weight: normal;
  line-height: 1.2;

}   

.lead__image {
  width: 100%;
  height: 63%;
}

.lead__caption {
  font-size: .6em;
  line-height: .7;
  letter-spacing: 1.5px;
  margin-top: 8px;
}

.intro {
  max-width: 690px;
  min-height: 429px;
  color: #fff;
  margin: 92px 0
}

.intro__title {
  margin: 0;
  font-size: 3.4em;
  font-weight: bold;
  line-height: 1;
}

.intro__text {
  font-size: 1em;
  line-height: 1.6;
  font-weight: normal;
  margin-top: 40px;
}

.intro__list {
  margin-top: 33px;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
  font-size: .7em;
  line-height: 1.6;
  font-weight: normal;
}

.photo-grid {
  margin: auto;  
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 14px;
  grid-auto-flow: row;

}

.photo-grid__item {
  width: 300px;
  height: 225px;
  object-fit: contain;  
}

.places {
  width: 100%;
  margin: 92px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #fff;
}

.place {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
  grid-gap: 48px 32px;
  grid-auto-flow: row;
  grid-auto-rows: minmax(min-content, max-content);  
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}

.place__title {
  margin: 0;
  font-size: 4.5em;
  line-height: 1;
  font-weight: bold;
}

.place__image {
  grid-column: 1;
  grid-row: 2/3;
  max-width: 460px;
  max-height: 460px;
  margin: 0;  
}

.place__website {
  display: flex;  
  flex-direction: column;
  justify-content: end;
}

.place__website_url-heading {
  margin: 0;
  padding-bottom: 12px;
  font-size: .7em;
  line-height: .9;
  color: #aaa;
}

.place__website_link {
  color: #fff;
  font-size: 1.1em;
  line-height: .8;  
}

.place__website_link:hover {
  text-decoration: underline;
}

.place__paragraph {
  font-size: 1.1em; 
  line-height: 1.6;
  margin: 0;  
}  

.place__paragraph:last-child {
  margin-top: 27px;
}

.cover {
  width: 100%;
  max-width: 1184px;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;  
  position: relative;
    
}

.cover__background {
  min-height: 640px;
  background-image: url(../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: center; 
  opacity: .8; 
}

.cover__background:hover {
  opacity: 0.3;
  transition: opacity .4s;
  }

.cover__title {
  font-size: 4.5em;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  margin: 0 auto 32px;
  width: 55%;
  position: absolute;
  top: 30%;
  left: 25%;  
}

.cover__subtitle {
  font-size: 1.1em;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto;
  width: 40%;
  position: absolute;
  bottom: 30%;
  left: 30%;
}

.footer {
  width: calc(100% - 96px);
  margin: 92px auto 24px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  flex-wrap: wrap;
}

.footer__link {
  font-size: 1em;
  line-height: 1.1;
  color: #fff;
  text-decoration: none;
  margin-right: 18px;
}

.footer__copyright {
  margin-left: auto;  
}

/*@media screen and (min-width 1280px) {
  .content {
    width: calc(100% - 296px);
  }
*/
/*  .photo-grid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 16px;
  } 
}
/*
@media screen and (min-width 768px max-width 1024px) {

}
*//*
@media screen and (min-width 350px max-width 750px) {
  .page {
    font-size: 10px;
  }

  .content {
    width: calc(100% - 32px);
  }

  .photo-grid {
    grid-template-columns: repeat(auto-fill, 288px);
    grid-template-rows: repeat(3, 216px);
    grid-gap: 12px;
  }   
}*/