.place__url-heading {
  margin: 0;
  padding-bottom: 12px;
  font-size: 12px;
  line-height: 12px;
  color: #aaa;
  letter-spacing: 2px;
}

@media screen and (min-width: 1024px) and (max-width: 1100px) {
  .place__url-heading {
    line-height: 20px;
  }
}