.header__lang-links {
    min-width: 77px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__lang-links {
      min-width: 62px;
    }
  }